body { margin:0px;background-color:var(--dark1);
  
  --dark0: #202020;
  --dark1: #222;
  --dark2: #252525;
  --dark3: #292929;
  --dark4: #2e2e2e;
  --border: #333;
  --light1: #eee;
  --light2: #e3e3e3;
  --light3: #d9d9d9;
  --light4: #999;
  
  --blue2: #888994;
  --blue1: #aeaeb0;
  --red: #ab4f4f;
  
  --miku: url(https://i.ibb.co/YNSXgwt/Hatune-Mikuuuuu-Colored.png);
  --bg: url(https://i.ibb.co/X8C160G/Hatsune-BW.png);
  --bg2: url(https://i.ibb.co/9bkGXqd/Hatsune-BW2.png);
  
  --title: Playfair Display, serif;
  --serif: Abril Fatface, serif;
  --sans: Inter, sans-serif;
  --script: Passions Conflict, script;
}

::-webkit-scrollbar { width:17px;height:17px;background-color:var(--dark0); }
::-webkit-scrollbar-thumb { border:solid 8px var(--dark0);background-color:var(--blue2); }
::-webkit-scrollbar-corner { background-color:var(--dark0); }

.choose { width:100%;height:890px;min-width:1185px;display:grid;grid-template-columns:clamp(300px,25vw,420px) auto;/*grid-template-columns:25vw auto;*/grid-template-rows:60px 550px auto;overflow:hidden; }

.choose-menu { grid-column: 1 / 3;background-color:var(--light1);background:linear-gradient(to right,var(--light2) 50%,var(--red));background-size:100% 100%;position:relative;z-index:2; }
.choose-menu-links { display:flex;align-items:center;gap:25px;padding:0px; }
.choose-menu-links a { display:block;text-decoration:none;font:700 10px var(--sans);line-height:9px;text-transform:uppercase;letter-spacing:2.25px;color:var(--blue1);display:flex;gap:8px;align-items:center;transition:.5s;mix-blend-mode:multiply; }
.choose-menu-links i { display:block;color:var(--red);transition:.5s; }
.choose-menu-links a:hover { color:var(--red); }
.choose-menu-links a:first-of-type { background-color:var(--light1);height:60px;width:60px;display:grid;align-items:center;justify-content:center;font-size:25px;opacity:.5;margin-right:5px; }
.choose-menu-links a:first-of-type i { display:block;color:var(--blue2); }
.choose-menu-links a:first-of-type:hover { opacity:1;background-color:#f6f6f6; }
.choose-menu-links a:first-of-type:hover i { color:var(--red); }

.choose-side { background-color:var(--blue1);grid-row: 2 / 4;position:relative;z-index:2;overflow:hidden; }
.choose-side-back { position:absolute;top:0px;left:0px;right:0px;bottom:0px;display:grid;background-color:var(--red); }
.choose-side-back div { background-image:var(--bg2);background-color:var(--blue1);background-blend-mode:multiply;mix-blend-mode:lighten;background-attachment:fixed;background-size:cover; }
.choose-side-front { padding:clamp(35px,4vw,60px);left:0px;right:0px;position:relative;z-index:1;display:grid;grid-template-columns:40% auto;gap:clamp(10px,1.75vw,30px); }
.choose-side-title { color:var(--light2);font:800 12px var(--sans);text-transform:uppercase;grid-column: 1 / 3;letter-spacing:1px;text-shadow:none;padding-bottom:10px; }
.choose-side-title a { font:900 15px var(--title);display:block;text-decoration:none;color:var(--light2)!important;letter-spacing:.35px; }
.choose-side-title a::after { content:','; }
.choose-side-img { background-color:var(--light2);padding:clamp(5px,2vw,15px);outline:solid 1px var(--light2);outline-offset:1px;margin-left:2px; }
.choose-side-img div { width:100%;padding-top:200%;background-color:var(--dark0);background-size:cover;background-blend-mode:lighten;filter:contrast(75%) grayscale(35%); }
.choose-side-alerts { display:flex;align-items:flex-end; }
.choose-side-alerts-1 { display:flex;align-items:flex-start;flex-direction:column;justify-content:flex-end;gap:clamp(10px,1vw,20px);font:900 10px var(--sans);line-height:25px;color:var(--light2);letter-spacing:1px;text-transform:uppercase; }
.choose-side-alerts-1 div, .choose-side-alerts-1 a { display:block;line-height:10px;padding:10px;background-color:var(--light2);color:var(--border);outline:solid 1px var(--light2);outline-offset:1px;white-space:nowrap;max-width:fit-content;position:relative; }
.choose-side-alerts-1 a { text-decoration:none;color:var(--red);transition:.5s; }
.choose-side-alerts-1 a:hover { color:var(--border); }
.choose-side-svg { align-self:flex-start;position:absolute;margin-top:-50px;margin-left:-100px;font:900 15px var(--sans);text-transform:uppercase;letter-spacing:5.75px;line-height:10px;fill:var(--border);transform:scale(.65); }
.choose-side-svg text { animation: chooseSpin 120s linear infinite;transform-origin:center; }
.choose-side-svg::before { display:block;content:'';height:20px;width:20px;background-color:var(--border);border-radius:100%;margin:91px;position:absolute; }
.choose-side-nav { grid-column: 1 / 3;text-transform:uppercase; }
.choose-side-nav::before { content:'';display:block;height:5px;width:75px;background-color:var(--light2);margin-top:20px; }
.choose-side-nav h1 { margin:15px 0px 20px 0px;font:900 15px var(--title);color:var(--light2)!important;letter-spacing:.35px; }
.choose-side-nav div { display:flex;gap:10px;flex-wrap:wrap; }
.choose-side-nav div a { display:block;background-color:var(--light2);margin:2px;outline:solid 1px var(--light2);outline-offset:1px;font:800 10px var(--sans);line-height:10px;text-decoration:none;padding:13px;color:var(--red);letter-spacing:1px;flex-grow:1;text-align:center;transition:.5s; }
.choose-side-nav div a:hover { color:var(--border); }

.choose-banner { position:relative;background-color:var(--dark1); }
.choose-banner-back { position:absolute;top:0px;left:0px;right:0px;bottom:0px;display:grid;background-color:var(--dark0); }
.choose-banner-back div { background-image:var(--bg2);background-color:var(--dark2);background-blend-mode:multiply;mix-blend-mode:lighten;background-attachment:fixed;background-size:cover; }
.choose-banner-img { position:absolute;z-index:3;margin-top:-80px;right:50%;margin-right:-472px;overflow:visible;pointer-events:none;height:630px; }
.choose-banner-img div { margin-right:-400px;height:630px;overflow:hidden; }
.choose-banner-img div::before { display:block;position:relative;content:'';background-image:var(--miku);height:1000px;width:1500px;background-size:cover;background-repeat:no-repeat;background-position:top right;filter:contrast(0%) brightness(25%); }
.choose-banner-img div::after { display:block;margin-top:-1000px;position:relative;content:'';background-image:var(--miku);height:1000px;width:1500px;background-size:cover;background-repeat:no-repeat;background-position:top right;mix-blend-mode:lighten; }

.choose-banner-svg-1 { position:absolute;right:50%;margin-right:-315px;margin-top:-25px;z-index:1;animation: chooseSpin 60s linear infinite; }
.choose-banner-svg-1 text { font:800 15px var(--title);fill:var(--dark3);text-transform:uppercase;letter-spacing:5.3px;line-height:10px; }
.choose-banner-svg-2 { position:absolute;right:50%;margin-right:-455px;margin-top:-170px;z-index:1;animation: chooseSpin1 120s linear infinite; }
.choose-banner-svg-2 text { font:900 25px var(--title);fill:var(--dark3);text-transform:uppercase;letter-spacing:9.8px;line-height:20px; }
@keyframes chooseSpin {
  0% { transform:rotate(0deg); }
  100% { transform:rotate(360deg); }
}
@keyframes chooseSpin1 {
  0% { transform:rotate(0deg); }
  100% { transform:rotate(-360deg); }
}

.choose-banner-title-1 { position:absolute;right:50%;z-index:1;margin-right:-50px;height:435px;display:flex;align-items:center;justify-content:center;text-shadow: var(--dark1) 2px 0px 0px, var(--dark1) 1.75517px 0.958851px 0px, var(--dark1) 1.0806px 1.68294px 0px, var(--dark1) 0.141474px 1.99499px 0px, var(--dark1) -0.832294px 1.81859px 0px, var(--dark1) -1.60229px 1.19694px 0px, var(--dark1) -1.97998px 0.28224px 0px, var(--dark1) -1.87291px -0.701566px 0px, var(--dark1) -1.30729px -1.5136px 0px, var(--dark1) -0.421592px -1.95506px 0px, var(--dark1) 0.567324px -1.91785px 0px, var(--dark1) 1.41734px -1.41108px 0px, var(--dark1) 1.92034px -0.558831px 0px; }
.choose-banner-title { width:500px;display:grid;grid-template-columns:auto auto;font:100 100px var(--title);line-height:80px;text-transform:uppercase;color:var(--blue1);gap:20px;letter-spacing:0px; }
.choose-banner-title span { background-color:var(--red);width:50px;margin:6px 0px -3px -10px;border:solid 2px var(--dark2);position:relative;overflow:hidden;mix-blend-mode:lighten; }
.choose-banner-title span::before { content:'soul';text-transform:lowercase;font:85px var(--script);display:block;position:absolute;text-shadow:none;color:var(--dark1);line-height:50px;transform:rotate(65deg);margin:10px 0px 0px -4px; }
.choose-banner-title-2 { font:900 105px var(--title);line-height:80px;grid-column:1 / 3;letter-spacing:0px;color:var(--light3);padding-left:5px; }
.choose-banner-title-3 { font:700 10px var(--sans);letter-spacing:4px;line-height:15px;margin:20px 0px 0px 35px;color:var(--blue1); }
.choose-banner-title-3 b { color:var(--red); }

.choose-header { background-color:var(--dark3);position:relative;z-index:4;padding:50px;display:grid;grid-template-columns:50px auto auto 170px;gap:50px;color:var(--light4);font:12.5px var(--sans);line-height:21px;letter-spacing:.35px;text-align:justify; }
.choose-header::before { margin:-50px 30px -50px -50px;display:block;content:'';background-color:var(--red);width:50px;mix-blend-mode:lighten;background-image:var(--bg2);background-blend-mode:multiply;mix-blend-mode:lighten;background-attachment:fixed;background-size:cover;border-left:solid 20px var(--dark2); }
.choose-header-welcome-blurb::-webkit-scrollbar { background-color:transparent;width:10px; }
.choose-header-welcome-blurb::-webkit-scrollbar-thumb { border:solid 1px var(--border);background-color:var(--dark2); }
.choose-header-welcome-title { white-space:nowrap;width:75px;border-top:solid 5px var(--red);font:900 23px var(--sans);text-transform:uppercase;line-height:20px;padding:20px 0px 40px 0px;color:var(--light3); }
.choose-header-welcome-title span { display:block;position:absolute;font:italic 400 65px var(--script);text-transform:lowercase;color:var(--blue1);line-height:35px;margin:-5px 0px 0px 20px;opacity:.25; }
.choose-header-welcome-blurb { overflow:auto;height:105px;padding-right:25px; }
.choose-header-staff { display:flex;gap:10px;flex-wrap:wrap;padding-top:25px;width:250px!important;flex-grow:2; }
.choose-header-staff a { display:block;mix-blend-mode:lighten;border:solid 1px var(--border);padding:9px;height:60px;width:60px; }
.choose-header-staff a div { width:60px;height:60px;background-color:var(--blue1);transition:.5s; }
.choose-header-staff a:hover div { background-color:var(--red); }
.choose-header-staff img { height:60px;width:60px;mix-blend-mode:multiply;filter:grayscale(100%); }
.choose-header-svg { fill:var(--border);font:800 10px var(--sans);text-transform:uppercase;line-height:10px;letter-spacing:3.75px;position:absolute;margin:-15px;animation:chooseSpin 120s linear infinite; }
.choose-header-event { padding-top:25px; }
.choose-header-event-1 { cursor:pointer;position:relative;z-index:1;border-radius:100%;display:block;padding:15px;height:140px;width:140px;display:flex;flex-direction:column;gap:10px;align-items:center;justify-content:center;font:800 10px var(--sans);line-height:10px;text-decoration:none;text-transform:uppercase;color:var(--light4);letter-spacing:.5px; }
.choose-header-event-1 b { font:900 17px var(--title);line-height:12px;color:var(--red);letter-spacing:-.25px;transition:.5s; }
.choose-header-event-1:hover b { color:var(--blue2); }

.choose-nav { position:absolute;border:solid 1px var(--border);background-color:var(--dark2);padding:19px;font:800 10px var(--sans);line-height:10px;text-transform:uppercase;top:-25px;right:-1px;display:flex;gap:15px; }
.choose-nav a { text-decoration:none;color:var(--red);letter-spacing:2px;transition:.5s; }
.choose-nav a:first-of-type { color:var(--light3);border-right:solid 1px var(--border);margin:-19px 4px -19px 0px;line-height:48px;padding-right:19px; }
.choose-nav a:hover { color:var(--light3); }
.choose-nav i { display:block;color:var(--light3);cursor:pointer;margin:-19px -15px -19px -19px;padding:19px 8px 19px 19px; }